services:
  frontend:
    image: node:20-alpine
    container_name: vue-frontend
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "8082:8082"
    command: sh -c "npm install && npm run dev -- --host"
    environment:
      - NODE_ENV=development
