services:
  db:
    image: postgres:13
    container_name: postgres13
    restart: always
    env_file:
      - ../.env
    ports:
      - "5432:5432"
    volumes:
      - ./backup:/backup
      - pgdata:/var/lib/postgresql/data
    networks:
      backend:
        ipv4_address: 172.28.0.10

  adminer:
    image: adminer:4
    container_name: adminerBackup
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: db
    networks:
      backend:
        ipv4_address: 172.28.0.20

volumes:
  pgdata:

networks:
  backend:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/24